<div class="flights-list">
  <div
    ng-repeat="flight in $ctrl.flights track by $index"
    class="flights-list__item"
  >
    <time
      class="flights-list__date flights-list__date--liftoff"
      datetime="{{::flight.dateFrom}}"
      ng-bind="::$ctrl.getHumanDate(flight.dateFrom)"
    ></time>

    <time
      class="flights-list__date flights-list__date--landing"
      datetime="{{::flight.dateTo}}"
      ng-bind="::$ctrl.getHumanDate(flight.dateTo)"
    ></time>

    <button class="flights-list__buy-button">
      <span
        class="flights-list__buy-button-price"
        ng-bind="::$ctrl.getHumanPrice(flight.price, flight.currency)"
      ></span>

      <span class="flights-list__buy-button-label">
        buy
      </span>
    </button>
  </div>

  <div
    class="flights-list__item flights-list__item--empty-message"
    ng-bind="$ctrl.emptyMessage"
    ng-if="$ctrl.flights.length === 0"
  ></div>

  <div class="flights-list__loading" ng-if=$ctrl.isLoading>
    <img ng-src="{{::$ctrl.planeSVG}}" alt="Loading…">
  </div>
</div>
