<div class="flights-list">
  <div
    ng-repeat="flight in $ctrl.flights track by $index"
    class="flights-list__item"
  >
    <div class="flights-list__airports">
      <div class="flights-list__airport flights-list__airport--liftoff">
        <label
          class="flights-list__airport-name"
          ng-bind="$ctrl.sourceName"
        ></label>

        <time
          class="flights-list__date"
          datetime="{{::flight.dateFrom}}"
        >
          <span
            class="flights-list__date-short"
            ng-bind="::$ctrl.getHumanDateShort(flight.dateFrom)"
          ></span>
          <span
            class="flights-list__date-long"
            ng-bind="::$ctrl.getHumanDateLong(flight.dateFrom)"
          ></span>
        </time>
      </div>

      <div class="flights-list__airport flights-list__airport--landing">
        <label
          class="flights-list__airport-name"
          ng-bind="$ctrl.destinationName"
        ></label>

        <time
          class="flights-list__date"
          datetime="{{::flight.dateTo}}"
        >
          <span
            class="flights-list__date-short"
            ng-bind="::$ctrl.getHumanDateShort(flight.dateTo)"
          ></span>
          <span
            class="flights-list__date-long"
            ng-bind="::$ctrl.getHumanDateLong(flight.dateTo)"
          ></span>
        </time>
      </div>
    </div>

    <button
      class="flights-list__buy-button"
      ng-click="$ctrl.onFlightSelected({flight})"
    >
      <span
        class="flights-list__buy-button-price"
        ng-bind="::$ctrl.getHumanPrice(flight.price, flight.currency)"
      ></span>

      <span class="flights-list__buy-button-label">
        buy
      </span>
    </button>
  </div>

  <div
    class="flights-list__item flights-list__item--empty-message"
    ng-bind="$ctrl.emptyMessage"
    ng-if="$ctrl.flights.length === 0"
  ></div>

  <div class="flights-list__loading" ng-if=$ctrl.isLoading>
    <img ng-src="{{::$ctrl.planeSVG}}" alt="Loading…">
  </div>
</div>
