<form class="search-wrapper" ng-submit="$ctrl.findFlights()">
  <airport-selector
    airports="$ctrl.sourceAirports"
    on-selected-change="$ctrl.onSourceChange(airport)"
  ></airport-selector>

  <airport-selector
    airports="$ctrl.destinationAirports"
    on-selected-change="$ctrl.onDestinationChange(airport)"
  ></airport-selector>

  <date-selector
    date="$ctrl.startDate"
    on-date-change="$ctrl.onStartDateChange(date)"
  ></date-selector>

  <date-selector
    date="$ctrl.endDate"
    on-date-change="$ctrl.onEndDateChange(date)"
  ></date-selector>

  <button
    class="search-wrapper__submit-button"
    type="submit"
    name="button"
  >Find flights!</button>

  <div class="url reader service"> </div>
</form>
