<form class="search-wrapper" ng-submit="$ctrl.onSafeSubmit()">
  <airport-selector
    placeholder="'Source…'"
    airports="$ctrl.sourceAirports"
    selected-iata-code="$ctrl.sourceIataCode"
    on-selected-change="$ctrl.onSourceChange(iataCode)"
    ng-disabled="$ctrl.sourceAirports.length === 0"
  ></airport-selector>

  <airport-selector
    placeholder="'Destination…'"
    airports="$ctrl.destinationAirports"
    selected-iata-code="$ctrl.destinationIataCode"
    on-selected-change="$ctrl.onDestinationChange(iataCode)"
    ng-disabled="$ctrl.destinationAirports.length === 0"
  ></airport-selector>

  <date-selector
    label="'From:'"
    date="$ctrl.startDate"
    on-date-change="$ctrl.onStartDateChange(date)"
  ></date-selector>

  <date-selector
    label="'To:'"
    date="$ctrl.endDate"
    on-date-change="$ctrl.onEndDateChange(date)"
  ></date-selector>

  <button
    class="search-wrapper__submit-button"
    type="submit"
    name="button"
  >Find flights!</button>
</form>
