@import "../../config/variables";

.search-wrapper {
  background: $c-bright-blue;
  display: flex;
  flex-flow: column wrap;
  padding: $s-leading/2;

  & > * {
    margin: $s-leading/2;
  }

  @media (min-width: #{$b-medium}) {
    border-radius: $s-global-br;
    box-shadow: 0 0 0 2px darken($c-bright-blue, 5%);
    flex-direction: row;
    margin: $s-leading $s-leading/2;
  }

  @media (min-width: #{$b-medium}) and (max-width: #{$b-big - 0.025rem}) {
    & > * {
      width: calc(50% - #{$s-leading});
    }
    & > *:last-child:nth-child(odd) {
      width: calc(100% - #{$s-leading});
    }
  }

  @media (min-width: #{$b-big}) {
    flex-wrap: nowrap;
    justify-content: center;
    margin: $s-leading*2 auto;
    max-width: calc(100vw - #{$s-leading * 2});
    width: $b-big;

    & > * {
      width: 16.66%;
    }
    & .search-wrapper__submit-button {
      flex: 1;
    }
  }
}

.search-wrapper__submit-button {
  background-color: $c-ryanair-yellow;
  border-radius: $s-global-br;
  box-shadow: 0 0 0 1px darken($c-ryanair-yellow, 20%);
  color: rgba($c-charcoal, 0.8);
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  height: $s-leading + 2 * 0.25rem;
  line-height: $s-leading;
  min-width: 8rem;
  padding: 0.25rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: rgba($c-charcoal, 0.9);
  }

  &:active {
    transform: translateY(1px);
  }
}
