@import "../../config/variables";

.global-menu {
  background-color: $c-ryanair-blue;
  border-bottom: 2px solid $c-ryanair-yellow;
  padding: $s-leading calc(calc(100vw - #{$b-big}) * 0.5);
}

.global-menu__logo {
  cursor: pointer;
  display: block;
  margin: 0 $s-leading;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  img {
    display: block;
    height: $s-leading * 2;
    margin: 0 auto;
    max-width: 100%;
  }
}
