@import "../../config/variables";

.main-menu {
  background-color: $c-ryanair-blue;
  border-bottom: 2px solid $c-ryanair-yellow;
  padding: $s-leading calc(calc(100vw - #{$b-big}) * 0.5);
}

.main-menu__logo {
  cursor: pointer;
  display: block;
  margin: 0 $s-leading;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  svg {
    display: block;
    height: $s-leading * 2;
    max-width: 100%;
  }
}
