<div
  class="airport-selector"
  ng-class="{
    'airport-selector--active': $ctrl.isActive,
    'airport-selector--has-value': $ctrl.selectedIataCode,
    'airport-selector--has-error': $ctrl.error
  }"
  ng-keyup="$ctrl.onSelectKeyup($event)"
>
  <span
    class="airport-selector__error"
    ng-if="$ctrl.error"
    ng-bind="$ctrl.error"
  ></span>

  <label
    class="airport-selector__value"
    ng-click="$ctrl.activate()"
    ng-focus="$ctrl.onInputFocus($event)"
    tabindex="0"
    ng-bind="$ctrl.getSelectedAirportName() || $ctrl.placeholder || 'Select…'"
  ></label>

  <input
    class="airport-selector__filter"
    js-airport-selector-filter
    type="text"
    ng-model="$ctrl.filterValue"
    ng-blur="$ctrl.onFocusableChildBlur($event)"
  ></input>

  <ol class="airport-selector__options">
    <li
      class="airport-selector__option"
      ng-class="{'airport-selector__option--selected': airport.iataCode === $ctrl.selectedIataCode}"
      ng-repeat="airport in $ctrl.filteredAirports() as filteredAirports"
      ng-click="$ctrl.selectAirport(airport.iataCode)"
      ng-keyup="$ctrl.onOptionKeyup($event, airport.iataCode)"
      ng-blur="$ctrl.onFocusableChildBlur($event)"
      tabindex="0"
    >{{airport.name}}</li>

    <li
      class="airport-selector__option airport-selector__option--message"
      ng-if="filteredAirports.length === 0"
    >No airport</li>
  </ol>
</div>
