<div
  class="airport-selector"
  ng-class="{'airport-selector--active': $ctrl.isActive}"
  ng-keyup="$ctrl.onKeyup($event)"
>
  <input
    class="airport-selector__filter"
    js-airport-selector-filter
    type="text"
    ng-model="$ctrl.filterValue"
  ></input>

  <label
    class="airport-selector__value"
    ng-click="$ctrl.startSelection()"
  >
    {{$ctrl.selected.label || 'Select…'}}
  </label>

  <ol class="airport-selector__options">
    <li
      class="airport-selector__option"
      ng-repeat="airport in $ctrl.filteredAirports() as filteredAirports"
      ng-click="$ctrl.selectAirport(airport.id)"
    >
      {{airport.label}}
    </li>

    <li
      class="airport-selector__option airport-selector__option--message"
      ng-if="filteredAirports.length === 0"
    >No airport</li>
  </ol>
</div>
