/*******************************************************************************
variables - all global and pallete variables for project
*******************************************************************************/

// primary colors
$c-ryanair-blue: rgb(7, 53, 144);
$c-ryanair-yellow: rgb(241, 201, 51);
$c-bright-blue: rgb(32, 145, 235);
// extended colors
$c-medium-blue: rgb(13, 73, 192);
$c-dark-blue: rgb(6, 43, 113);
$c-washed-blue: rgb(205, 215, 233);
$c-very-very-dark-grey: rgb(46, 46, 46);
$c-pale-grey: rgb(174, 179, 189);
$c-background-grey: rgb(244, 244, 244);
$c-white: rgb(255, 255, 255);

// font families palette
$font-sansSerif: "Roboto", sans-serif;
$font-monospace: "Input", "Office Code Pro", "Source Code Pro", "Fira Mono",
  "Inconsolata", "Monaco", "Consolas", "Lucida Console", "Liberation Mono",
  "DejaVu Sans Mono", monospace;

// base
$c-root-txt: $c-very-very-dark-grey;
$c-root-bg: $c-background-grey;
$c-root-focus: $c-ryanair-yellow;

/// leading size for all spacing between elements to be pretty
$root-lineHeight: 1.5;
$s-leading: $root-lineHeight * 1rem;

// globals
$s-global-br: 0.313rem;
$b-medium: 36rem;
$b-big: 64rem;
