<footer class="global-footer">
  <img
    class="global-footer__clouds global-footer__clouds--back"
    src="{{::$ctrl.cloudsBackSVG}}"
  >

  <div class="global-footer__text">
    <h1>Always Getting Better</h1>
    <p>
      <a href="https://github.com/magicznyleszek/cheap-flights">source</a>
      &bull;
      <a href="https://magicznyleszek.xyz">author</a>
    </p>
  </div>

  <img
    class="global-footer__clouds global-footer__clouds--front"
    src="{{::$ctrl.cloudsFrontSVG}}"
  >
</footer>
