@import "../../config/variables";

.date-selector {
  background-color: $c-white;
  border-radius: $s-global-br;
  box-shadow: 0 0 0 1px $c-medium-blue;
  color: $c-very-very-dark-grey;
  display: block;
  height: $s-leading + 2 * 0.25rem;
  line-height: $s-leading;
  min-width: 8rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
